.parent {
    display: grid;
    grid-template-columns: 1fr 100fr 1fr;
    grid-template-rows: 200px 600px 100px;
  
    grid-template-areas:
      "header header header"
      "blog blog blog"
      "footer footer footer"
  }
  .child {
    border:solid;
  }
  .header {
    grid-area: header;
  }
  /* .score-button
  font-size: 16px;
  font-family: 
  border: 3px solid black;
  border-radius: 8px;
  padding: 5px 10px;
} */

h1 {
  text-align: center;
}

p {
  text-align:center;
}
  .blog {
    grid-area: blog;
    display:flex;
  }
  .footer {
    grid-area: footer;
  }
  img {
    height: 400px;
    width: 250px;
    text-align: center;
  }
  .flex-items {
    border: solid 1px white;
    flex: 1;
    height:100%;
    background: rgb(255, 166, 0);
    justify-content: center;
    text-align: center;
    
  }
  nav > a {
    border:solid;
    flex:1;
    margin:1%;
  }



  