
body{
  background-image: url("images/colorful.png");
  background-size: cover;
 
}
.parent {
    display: grid;
    grid-template-columns: 1fr 100fr 1fr;
    grid-template-rows: 200px 600px 100px;
    border:solid;
  
    grid-template-areas:
      "header header header"
      "blog blog blog"
      "footer footer footer"
  }

  .child {
    border:solid;
  }

  .header {
    grid-area: header;
    background-image:url("images/header.jpeg");
    background-position:right;
    background-size:cover;
    border:solid;
    text-align:center;
  }

.blog {
    grid-area: blog;
    display:flex;
  }

  .flex-items {
    /* border: solid 1px rgb(219, 204, 204); */
    flex: 1;
    height:100%;
    background: white;
    text-align: center;
    /* background: url("https://picsum.photos/200/200?image=0"); */
    /* background: url("images/background1.jpeg"); */
    display: inline-block;
    background-size: cover;
  }

  .footer {
    grid-area: footer;
    text-align:center;
    border:solid;
    background-color:white;
  }

  .buttons  {
    text-align: center;
    background-color: black;
    color:white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;

  }

  h1 {
    text-align: center;
    font-family: cursive;
    background-color: white;
  }
  
  p {
    text-align:center;
    background-color: white ;
  }

  img {
    height: 400px;
    width: 250px;
    text-align: center;
    background-color: white;
    background-image:url("images/background1.jpeg")
  }

span {
  background-color:white;
}

ul {
  list-style-type:none
}